.card-style {
  border-radius: 10px;
  transition: 0.5s;
}
.card-style:hover {
  box-shadow: 4px 10px 37px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 10px 37px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 10px 37px -10px rgba(0, 0, 0, 0.75);
}
